/* 공통디자인 */
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shizuru&display=swap');
* {padding: 0; margin: 0; box-sizing: border-box;}
body, html {
    font-family: 'Nanum Pen Script', cursive; /* 폰트 */
    width: 100%;
    min-width: 350px;
}
ul, li, ol, dd, dl {list-style: none;}
img {max-width: 100%; height: auto;}
input, textarea, button, select{
    appearance: none;/* 브라우저별로 고유하게 정의된 디자인을 사용하지않음  */
}

/* 부스스트랩버튼 */
.form-control {
    border-radius: 0;
}
.form-control:focus {
    border: 1px solid #000;
    box-shadow: none;
}
.btn {
    border-radius: 0;
}