/* header디자인 */
.custom-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}

.custom-header .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.custom-header .navbar-inverse {
    background-color: #1b1c1f;
}
.custom-header .navbar-inverse .navbar-nav > .active > a { /* .active클래스 하위 a태그 */
    background-color: rgb(43, 46, 46);
}

.custom-header .navbar-inverse .navbar-nav > li > a:hover, /* 호버시 배경색 */
.custom-header .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgb(43, 46, 46);
}
.custom-header .navbar-inverse .navbar-nav > li > a {
    color: #fff;/* 글씨 */
}

.custom-header .navbar-brand {
    padding: 10px 20px;
}

/* footer스타일 */
footer {
    background-color: #282a35;
}